.DS_Store
.idea/**
.vscode/**
.history
__exclude
.editorconfig
node_modules/
build/
previews.psd
dev.theca11.multiobs.streamDeckPlugin
previews/new-previews.psd
previews/old_1-preview.png
previews/old_2-preview.png
previews/previews_old.psd
src/assets/banner.psd
