.DS_Store
.idea/**
.vscode/**
.history
__exclude
.editorconfig
previews.psd
src/dev.theca11.multiobs.sdPlugin/previews/1-preview.png
src/dev.theca11.multiobs.sdPlugin/previews/2-preview.png
node_modules/
build/
previews/
